@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans+Condensed:wght@300&display=swap');
*{
    padding:0px;
    margin:0px;
}
body{
    background:linear-gradient(rgb(162, 102, 192), #390b6a);
    background-repeat: no-repeat;
    height:100vh;
    color: white;
}
.h{
    background-color: #723799;
    text-align: center;
    height:5vh;
    padding-top:1vw;
    padding-left:1vw;
    padding-right:1vw;
    font-size:larger
}
   .h div{
        font-size:3vw;
   }
    #mit{
        color:rgb(231, 55, 55);
    }
    .h #hl{
        float:left;
        display:inline-block;
    }
    .h #hm{
        display:inline-block;
        color:rgb(205, 178, 29)
    }
    #hm span{
        color:white;
    }
    .h #hr{
        float:right;
        display:inline-block;
    }
    #hr #li div{
        display: inline-block;
    }
        #hr #li div a{
            color:rgb(229, 137, 32);
            padding-left:1vw;
            padding-right:1vw;
        }
.c{
    text-align: center;
    padding:1vw;
}
    .c #cl{
        float:left;
        background-color: #3e264f;
        width:15vw;
        height:35vh;
    }
        #cl #li div{
            width:13vw;
            margin:auto;
            margin-top:3vh;
        }
    .c #cl #li{
        font-size:150%;
    }
    .c #cm{
        display: inline-block;
        background-color: #3e264f;
        width:55vw;
        height:75vh;
    }
    .c #cm .p{
        text-align: justify;
        margin-left:5vw;
        margin-right:2vw
    }
    .c #cr{
        float:right;
        background-color: #3e264f;
        width:25vw;
        height:58vh;
    }
    #cr p{
        text-align: justify;
        margin-left:1vw;
        margin-right:2vw;
    }
#li div{
        background-color: #692489;
        border-radius:5px ;
        opacity:80%;
        transition:0.4s;
}
#li div:hover{
    opacity: 100%;
    transition:0.4s;
    font-size: larger;
}
#li div a{
    text-decoration: none;
    text-align:center;
    color:white;
    text-transform: uppercase;
}
#bebasfont{
    font-family: 'Bebas Neue', sans-serif;
}
#sofiafont{
    font-family: 'Sofia Sans Condensed', sans-serif;
}